@font-face {
    font-family: "CronosPro";
    src: url("font/cronospro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CronosPro";
    src: url("font/cronospro-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "CronosPro";
    src: url("font/cronospro-semibold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "CronosPro";
    src: url("font/cronospro-semibolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}
* {
    font-family: CronosPro;
    text-align: center;
}
body {
    background-color: #555;
    color: #CACACA;
}
#header {
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    width: 100%;
    z-index: 10;
    background-color: #333;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .25);
    padding-top: 4px;
}
#menu {
    float: left;
    cursor: pointer;
}
#menuButton,
#filterButton {
    height: 24px !important;
    margin: 0 !important;
}
#filterButton {
    cursor: pointer;
}
#menu img,
#wallet img {
    height: 20px;
    margin-bottom: -5px
}
#menuDiv {
    display: none;
    position: absolute;
    top: 32px;
    background-color: #333;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
    text-align: left;
}
section {
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}
section.visible {
    height: auto;
    overflow: visible;
    opacity: 1;
    z-index: 1;
}
input[type=text] {
    background-color: #CCC;
    border: none;
    padding: 2px 4px;
}
#filter, .simpleFilter {
    position: absolute;
    right: 50px;
    height: 20px;
    border-radius: 9px 0 0 9px;
}
.button {
    position: absolute;
    right: 28px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #CCC;
    border-radius: 0 9px 9px 0;
    padding: 2px;
}
#filterContainer {
    float: right;
}
#filterDiv {
    display: none;
    position: absolute;
    right: 0;
    top: 32px;
    background-color: #333;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
}
.tab {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #888;
}
.tab.current {
    color: #FFF;
}
.tabContent {
    display: none;
}
.tabContent.current {
    display: inherit;
    padding: 10px;
}
input[type=checkbox] {
    position: absolute;
    right: 0;
}
label {
    float: left;
    background-repeat: no-repeat;
    text-align: left;
}
label img {
    height: 16px;
    margin-bottom: -2px;
}
.type + label {
    color: #888;
}
:not(.rarity) + label {
    width: 60%;
}
.levFilter {
    width: 30px;
    border-radius: 9px;
}
#content {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}
#keyList {
    height: 95px;
    width: 724px;
    background: #CCC;
    border: none;
}
#saveKeys, #delKeys {
    cursor: pointer;
    background-color: #CCC;
    border: none;
    border-radius: 9px 0 0 9px;
    padding: 1px;
    margin: 4px -2px 0 -2px;
}
#delKeys {
    border-radius: 0 9px 9px 0;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.thead {
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #505050;
}
.thead img {
    height: 24px;
    margin: -1px 0 -6px 0;
}
tr:not(.thead) td:first-of-type img {
    height: 32px;
    margin: -1px 0 -6px 0;
}
#bagStuff,
.characters,
.flexme {
    display: flex;
}
.account {
    border-right: 1px dotted #888;
}
h2 {
    margin: 0;
}
h2 img {
    height: 16px;
    width: 16px;
}
h5 {
    margin-top: 0;
    margin-bottom: 10px;
}
.character {
    position: relative;
    min-width: 210px;
    width: 210px;
}
.charBg {
    position: absolute;
    left: 0;
    top: -40px;
    height: auto;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
.inactive {
    opacity: 0.4;
}
.spec {
    min-height: 125px;
}
.spec img {
    height: 16px;
    margin: 0 4px -3px 0;
}
.stuff,
.sharedBag,
.bag,
.bankTabs,
.matsTabs {
    margin: 0 auto 10px auto;
}
.stuff {
    box-shadow: 0px 20px 2px -19px #CCC;
}
.sharedBag {
    box-shadow: 0px 20px 2px -19px #888;
}
.bankTabs,
.matsTabs {
    width: 360px;
}
.item {
    display: inline-block;
    height: 32px;
    width: 32px;
    border: 2px solid #fff;
    border-radius: 3px;
    border-width: 2px 0 0 2px;
    overflow: hidden;
    margin: 0px 1px;
    padding: 0;
}
.item img {
    height: 32px;
}
.r_Empty {
    border-color: #000;
    opacity: .2;
}
.r_Junk {
    border-color: #AAA;
}
.r_Basic {
    border-color: #FFF;
}
.r_Fine {
    border-color: #62A4DA;
}
.r_Masterwork {
    border-color: #1A9306;
}
.r_Rare {
    border-color: #FCD00B;
}
.r_Exotic {
    border-color: #FFA405;
}
.r_Ascended {
    border-color: #FB3E8D;
}
.r_Legendary {
    border-color: #4C139D;
}
.r_Unknown {
    border-color: red;
}
.Empty {
    color: black;
}
.Junk {
    color: #AAA;
}
.Basic {
    color: #FFF;
}
.Fine {
    color: #62A4DA;
}
.Masterwork {
    color: #1A9306;
}
.Rare {
    color: #FCD00B;
}
.Exotic {
    color: #FFA405;
}
.Ascended {
    color: #FB3E8D;
}
.Legendary {
    color: #4C139D;
}
.Unknown {
    color: red;
}
.count {
    display: inline-block;
    width: 32px;
    margin-left: -34px;
    padding: 1px;
    color: #fff;
    font-size: 85%;
    text-align: right;
    text-shadow: 1px 1px black;
}
.item:hover .count {
    background-color: rgba(0, 0, 0, 0.7);
}
.hidden {
    display: none;
}
a {
    color:inherit;
    text-decoration: none;
}
#daily img {
    height: 48px;
    margin: 0 0 -5px 0;
}
.yesno {
    margin-bottom: -3px;
}
